includes:
    - phpstan-php8.php
parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../tests/*
        - %rootDir%/../../../vendor/*
    ignoreErrors:
        # ZF seems to believe that the getName method on ReflectionFunction may return "null", doesn't seem to unless given parameters
        - '#Strict comparison using === between null and string will always evaluate to false\.#'
        # This might be a bug, I didn't look at all of the code above it, but $_reflection could be ReflectionFunction or ReflectionMethod
        # only ReflectionMethod has this method on it
        - '#Call to an undefined method ReflectionFunction\|ReflectionMethod::getDeclaringClass\(\)\.#'
        -
            message: '#Parameter \#1 \$(function|callback) of function call_user_func_array expects callable\(\): .+ given\.#'
            path: %currentWorkingDirectory%/src/Zend/Server/Abstract.php
        -
            message: '#Parameter \#1 \$(function|callback) of function call_user_func_array expects callable\(\): .+ given\.#'
            path: %currentWorkingDirectory%/src/Zend/Server/Reflection/Class.php
        -
            message: '#Parameter \#1 \$(function|callback) of function call_user_func_array expects callable\(\): .+ given\.#'
            path: %currentWorkingDirectory%/src/Zend/Server/Reflection/Function/Abstract.php
        -
            message: '#Parameter \#1 \$(function|callback) of function call_user_func_array expects callable\(\): .+ given\.#'
            path: %currentWorkingDirectory%/src/Zend/Server/Reflection/Parameter.php
        # Defensive coding, can't be enforced by PHP typehints
        - '#Result of && is always false\.#'
        - '#Strict comparison using !== between null and null will always evaluate to false\.#'
        - '#Parameter \#1 \$(argument|objectOrClass) of class ReflectionClass constructor expects class-string<T of object>\|T of object, .+ given\.#'
        -
            message: '#Parameter \#3 \$argv of class Zend_Server_Reflection_Function constructor expects array, array\|false\|null given\.#'
            path: './src/Zend/Server/Reflection.php'
        # This method does exist, just not documented apparently
        -
            message: '#Call to an undefined method ReflectionType::getName\(\)\.#'
            path: './src/Zend/Server/Reflection/Function/Abstract.php'
            count: 1
        -
            message: '#Call to an undefined method ReflectionType::getName\(\)\.#'
            path: './src/Zend/Server/Reflection/Parameter.php'
            count: 1
